:root {
  --main: #5FEC71;
  --secondary: #F14D4D;
  --light-gray: #b8b8b8;
  --dark-gray: #5d5d5d;
  --gray-bg: #EBEBEB;
  --overlay-color: #5fec7254;
  --container-max-width: 160rem;
  --small-container-max-width: 80rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

input {
  font-family: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--dark-gray);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

@media (max-width: 800px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

.header {
  width: 95%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 2rem 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  width: 5rem;
  height: 5rem;
  border: 5px solid;
  border-radius: 100%;
  border-top-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  margin-right: 1rem;
}

.logo__img__tick {
  height: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
}

.logo__img__tick::after {
  bottom: 35%;
  left: 25%;
  content: '';
  height: 6px;
  width: 100%;
  background-color: var(--main);
  position: absolute;
}

.logo__img__tick::before {
  position: absolute;
  bottom: 35%;
  left: 25%;
  content: '';
  height: 40%;
  width: 6px;
  background-color: var(--main);
}

.logo__text {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.4rem;
  color: black;
  letter-spacing: 1px;
}

.add-item {
  padding: 6rem 0;
  background-color: var(--gray-bg);
  -webkit-box-shadow: 0 1rem 15px #ddd;
          box-shadow: 0 1rem 15px #ddd;
}

.add-item::after {
  content: '';
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: var(--overlay-color);
}

.add-item__form {
  width: 95%;
  margin: 0 auto;
  max-width: var(--container-max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.add-item__form__input {
  width: 90%;
  padding: 1.4rem;
  font-size: 2.2rem;
  border: 2px solid var(--light-gray);
  border-radius: 0px;
  border-right: none;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
}

.add-item__form__input:focus {
  border-color: var(--main);
}

.add-item__form__btn {
  min-width: 10%;
  background-color: var(--main);
  border: 2px solid var(--main);
  position: relative;
}

@media (max-width: 800px) {
  .add-item__form__btn {
    min-width: 20%;
  }
}

.add-item__form__btn::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  width: 2.5rem;
  height: 4px;
  background-color: #fff;
}

.add-item__form__btn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 4px;
  background-color: #fff;
}

.todo {
  padding: 8rem 0;
}

.todo__list {
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
}

.todo__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  -webkit-transition: -webkit-transform .2s ease-in, -webkit-box-shadow .3s ease-in;
  transition: -webkit-transform .2s ease-in, -webkit-box-shadow .3s ease-in;
  transition: transform .2s ease-in, box-shadow .3s ease-in;
  transition: transform .2s ease-in, box-shadow .3s ease-in, -webkit-transform .2s ease-in, -webkit-box-shadow .3s ease-in;
}

.todo__list__item__text {
  font-size: 1.8rem;
  line-height: 1.5;
  border: 1px solid var(--light-gray);
  border-right: none;
  width: 100%;
  padding: .5rem .5rem .5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__list__item__btn {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 2.5rem;
  position: relative;
}

.todo__list__item__btn::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  width: 2.5rem;
  height: 4px;
  background-color: #fff;
}

.todo__list__item__btn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  width: 2.5rem;
  height: 4px;
  background-color: #fff;
}

.todo__list__item:hover, .todo__list__item:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 .5rem 1rem #ddd;
          box-shadow: 0 .5rem 1rem #ddd;
}

.confirmation {
  background-color: var(--gray-bg);
  padding: 8rem 4rem;
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 11111;
  text-align: center;
}

@media (min-width: 1200px) {
  .confirmation {
    width: 30vw;
    padding: 8rem 4rem;
  }
}

.confirmation__text {
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark-gray);
  margin-bottom: 4rem;
}

.confirmation__btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.confirmation__btn {
  background-color: red;
  width: 47.5%;
  padding: 1.2rem;
  color: #fff;
  font-size: 1.6rem;
}

.confirmation__btn--cancel {
  background-color: var(--main);
}

.confirmation__btn--del {
  background-color: var(--secondary);
}

.confirmation__visible,
.overlay::after {
  display: block;
  visibility: visible;
  opacity: 1;
}

.info-text {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  bottom: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.6rem;
  padding: .8rem 2rem;
  color: #fff;
  background-color: var(--main);
  -webkit-animation-name: info;
          animation-name: info;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.info-text__visible {
  display: block;
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes info {
  0% {
    bottom: -5rem;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: -5rem;
  }
}

@keyframes info {
  0% {
    bottom: -5rem;
  }
  50% {
    bottom: 2%;
  }
  100% {
    bottom: -5rem;
  }
}
/*# sourceMappingURL=style.css.map */