:root{
    --main: #5FEC71;
    --secondary: #F14D4D;
    --light-gray: #b8b8b8;
    --dark-gray: #5d5d5d;

    --container-max-width: 160rem;


}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}