:root{
    --main: #5FEC71;
    --secondary: #F14D4D;
    --light-gray: #b8b8b8;
    --dark-gray: #5d5d5d;

    --container-max-width: 160rem;


}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}



html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

.header{
    border: 1px solid red;
    width: 95%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 2rem 0;

}


.logo{

    display: flex;
    align-items: center;

    &__img{
        width: 5rem;
        height: 5rem;

        border: 5px solid;
        border-radius: 100%;
        border-top-color: transparent;
        transform: rotate(45deg);
        position: relative;
        margin-right: 1rem;
    
        &__tick{
            height: 100%;
            transform: rotate(-90deg);
            position: relative;
    
            &::after{
                bottom: 35%;
                left: 25%;
                content: '';
                height: 6px;
                width: 100%;
                background-color: var(--main);
                position: absolute;
            }
    
    
            &::before{
                position: absolute;
                bottom: 35%;
                left: 25%;
                content: '';
                height: 40%;
                width: 6px;
                background-color: var(--main);
            }
        }
    
    }

    &__text{
        font-family: 'Bebas Neue', cursive;
        font-size: 2.4rem;
        color: black;
        letter-spacing: 1px;
    }


}